<ion-content class="padding">

  <h4>Reinitialiser votre mot de passe</h4>
  <div class="logo">
    <!-- <ion-icon name="person" color="light"></ion-icon> -->
    <img src="../../../assets/logo.jpg" alt="" srcset="">
  </div>

  <form [formGroup]="ValidationFormUser" (ngSubmit)="resetPassword()">
    <div class="padding">

      <ion-item class="block">
        <ion-label>Email</ion-label>
        
        <ion-input
          placeholder="Entrer votre adresse email" 
          type="email"
          formControlName="email"
        >
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationMessage.email">
          <div class="error_message" *ngIf="ValidationFormUser.get('email').hasError(validation.type) 
                                            && (ValidationFormUser.get('email').dirty 
                                            || ValidationFormUser.get('email').touched)">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
      <br>
      <ion-button fill="outline" color="light" type="submit" [disabled]="!ValidationFormUser.valid" shape="round" expand="block" >
        Reinitiaiser
      </ion-button>

      <ion-button shape="round" color="light"  expand="block" [routerLink]="['/login']" routerLinkActive="router-link-active" >
        Connexion
      </ion-button>
    </div>
  </form>
</ion-content>

