<ion-content>

  <div>

    <ion-item class="block">
      <ion-label color="light">Nom</ion-label>
      <ion-input color="light" [(ngModel)]="name" placeholder="Entrer votre nom : " type="text"></ion-input>
    </ion-item>

    <ion-item class="block">
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" [(ngModel)]="email" placeholder="Entrer votre email : " type="email"></ion-input>
    </ion-item>

    <ion-item class="block">
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" [(ngModel)]="password" placeholder="Entrer votre mot de passe : " type="password"></ion-input>
    </ion-item>

    <ion-item class="block" lines="none">
      <ion-button fill="clear" slot="end" color="light">Mot de passe oublie ?</ion-button>
    </ion-item>

    <ion-button shape="round" expand="block" color="light">Connection</ion-button>
    <br>
    <ion-button fill="outline" color="light" shape="round"  (click)="signUp()" expand="block">Inscription</ion-button>
  </div>
</ion-content>
